@import url("https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Acme|Alegreya|Alegreya+Sans|Anton|Archivo|Archivo+Black|Archivo+Narrow|Arimo|Arvo|Asap|Asap+Condensed|Bitter|Bowlby+One+SC|Bree+Serif|Cabin|Cairo|Catamaran|Crete+Round|Crimson+Text|Cuprum|Dancing+Script|Dosis|Droid+Sans|Droid+Serif|EB+Garamond|Exo|Exo+2|Faustina|Fira+Sans|Fjalla+One|Francois+One|Gloria+Hallelujah|Hind|Inconsolata|Indie+Flower|Josefin+Sans|Julee|Karla|Lato|Libre+Baskerville|Libre+Franklin|Lobster|Lora|Mada|Manuale|Maven+Pro|Merriweather|Merriweather+Sans|Montserrat|Montserrat+Subrayada|Mukta+Vaani|Muli|Noto+Sans|Noto+Serif|Nunito|Open+Sans|Open+Sans+Condensed:300|Oswald|Oxygen|PT+Sans|PT+Sans+Caption|PT+Sans+Narrow|PT+Serif|Pacifico|Passion+One|Pathway+Gothic+One|Play|Playfair+Display|Poppins|Questrial|Quicksand|Raleway|Roboto|Roboto+Condensed|Roboto+Mono|Roboto+Slab|Ropa+Sans|Rubik|Saira|Saira+Condensed|Saira+Extra+Condensed|Saira+Semi+Condensed|Sedgwick+Ave|Sedgwick+Ave+Display|Shadows+Into+Light|Signika|Slabo+27px|Source+Code+Pro|Source+Sans+Pro|Spectral|Titillium+Web|Ubuntu|Ubuntu+Condensed|Varela+Round|Vollkorn|Work+Sans|Yanone+Kaffeesatz|Zilla+Slab|Zilla+Slab+Highlight");

html {
  --color-background : #fafbfc;
  --color-background-text : black;
  --color-background-text-headers : black;
  --color-nav-background : white;
  --color-nav-border : #f0f0f0;
  --color-error-background : #fbe3e4; 
  --color-error-text : #d12f19;
  --color-error-border : #fbc2c4;
  --color-valid-background : #e6efc2;
  --color-valid-text : #529214;
  --color-valid-border : #c6d880;
  --color-editor-border : #d9d9d9;
  --color-button-background : #fff;
  --color-button-border : #e1e1e1;
  --color-button-text : #333;
  --color-button-text-hover : black;
  --color-button-background-hover : rgb(237, 237, 237);
}

html[data-theme='dark']{
  --color-background : #232629;
  --color-background-text : #aab3bd;
  --color-background-text-headers : #c9d1d9;
  --color-nav-background : #232222;
  --color-nav-border : #343131;
  --color-error-background : #61191d; 
  --color-error-text : #ff9c9c;
  --color-error-border : #944346;
  --color-valid-background : #273202;
  --color-valid-text : lime;
  --color-valid-border : #4d5629;
  --color-editor-border : #343131;
  --color-button-background : rgb(254 227 51/5%);
  --color-button-border : none;
  --color-button-text : #fee333;
  --color-button-text-hover : black;
  --color-button-background-hover : #fee333;
}

body {
  background: var(--color-background);
  color : var(--color-background-text);
  font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen-Sans,Ubuntu,Cantarell,helvetica neue,sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  line-height: 1.5em;
  overflow: auto;
  box-sizing: border-box;
    vertical-align: top;
}

nav {
  display:flex;
  justify-content: space-between;
  height: 37px;
  width: 100%;
  border-bottom: 1px solid var(--color-nav-border);
  margin: 0 auto 17px auto;
  background-color: var(--color-nav-background);
}

.logo{
  display: flex;
  margin-left: 1.5%;
}

.dev-tools-logo {
  width: 28px;
    height: 22px;
    padding: 9px 0 0 3px;
    float: left;
    background: #FFCF4B;
    border-radius: 2px;
    text-align: center;
    margin: 4px 4px;
    font-weight: 700;
    font-size: 9px;
    letter-spacing: .2px;
    color: white;
}

p {
  margin: 3px auto 3px 3px;
  display: flex;
  align-items: center;
}

.heading {
  font-size: 13px;
  font-weight: 700;
  float: left;
  margin: 0;
}

p span {
  font-size: 13px;
  font-weight:400;
  float: left;
  margin: 0;
}

img{
  width: 27px;
  padding: 2px;
  border-radius: 25%;
  margin-right: 10px;
}

.side-button{
  margin-right:2.5%;
}

.row {
  display: flex;
  justify-content: space-between;
}

#error{
  display:none;
  border: 1px solid transparent;
  margin: 1em 0;
  padding: 0.8em;
  background: var(--color-error-background);
  color: var(--color-error-text);
  border-color: var(--color-error-border);
  font: 0.95em andale mono,monotype,lucida console,monospace
}

#valid-state{
  display:none;
  border: 1px solid transparent;
  margin: 1em 0;
  padding: 0.8em;
  background: var(--color-valid-background);
  color: var(--color-valid-text);
  border-color: var(--color-valid-border);
  font: 0.95em andale mono,monotype,lucida console,monospace
}

.form-group{
  border: 1px solid var(--color-editor-border);
}

@media screen and (max-height: 375px) {
  body {
    position: relative;
    overflow: auto;
  }
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: #e8e8e8; /* Background color */
  overflow-x: hidden;
  transition: 0.5s; /* 0.5 second transition for smooth open/close effect */
  padding-top: 0px; /* Add padding to avoid content overlaying the panel */
}

.sidenav h2 {
  color: #fff;
  margin: 0;
  text-align: center;  
}

.heading-container {
  background-color: #333; /* Background color for the heading container */
  padding: 16px; /* Padding around the heading container */
}

.card {
  width: 97%;
}

@media screen and (max-width: 1200px) {
  .card {
    width: 95%;
  }
  .logo {
    margin-left: 2.5%;
  }
}

#editorWrapper {
  position: relative;
  height: 100%;
  min-height: 80vh;
}

@media (min-height: 600px) {
  #editorWrapper {
    height: 55vh;
  }
}

@media (min-height: 900px) {
  #editorWrapper {
    height: 65vh;
  }
}

#historyList li:hover {
  background-color: #333232;
  cursor: pointer;
}
#historyList li {
  width: 340px; /* Set a fixed width for each list item */
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide content that overflows the fixed width */
  text-overflow: ellipsis; /* Show ellipsis for hidden content */
  padding: 7px; /* Optional: add padding for better appearance */
  margin-bottom: 7px; /* Optional: add margin between list items */
}

#historyList {
  list-style-type: none;
  padding: 0; /* Optional: remove default padding */
}

#editorWrapper #editor {
  font-family: monospace;
  font-size: 15px;
  border: 1px solid #fafafa;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.btn {
  background-color: var(--color-button-background);
  padding: 10px 15px;
  text-decoration: none;
  border: 1px solid var(--color-button-border);
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen-Sans, Ubuntu, Cantarell, helvetica neue, sans-serif;
  font-weight: 700;
  color: var(--color-button-text);
  cursor: pointer;
}

.btn:hover {
  background-color: var(--color-button-background-hover);
  color: var(--color-button-text-hover)
}

button[type=submit]{
  margin:20px 10px 0 0;
}

button[type=reset]{
  background-color: #f4f4f4;
  margin-top:20px;
}

.compress{
  float: right;
}

button[type=compress]{
  margin-top:20px;
}

.info h3 {
  color: var(--color-background-text-headers);
}

.ace-chrome .ace_gutter {
  color: #838383 !important;
  background: #f7f7f7 !important;
}

.ace_content {
  border-left: 1.2px solid #dbdbdb;
  /* padding: 4px 0; */
}

.ace_gutter {
  /* padding: 4px 0; */
}
